<div class="container">
    {{#each events}}
        <div class="row">
            <div class="col s12 card">
                <div class="card-content">
                    <span class="card-title fltlft">Event Name: {{name}}</span>
                </div>
                <div class="card-content">
                    <a href="/viewParticipants/{{_id}}" class="waves-effect waves-light btn">Go to Promote</a>
                </div>
            </div>
        </div>
    {{/each}}

</div>