<link rel="stylesheet" href="/stylesheets/participantList.css">
    <div class="container">
{{#each events}}
        <div class="row">
                <div>
                    <a href="/viewParticipants/{{_id}}" class="waves-effect waves-light btn">{{event}}</a>
                </div>
        </div>
    </div>

{{/each}}
<script src="/javascripts/participantList.js"></script>