<div class="section2">
<div class="container">
    <div class="row">
        {{#each events}}
            <div class="col l4 indigo-text text-darken-4">
                <div class="card-panel">
                    <ul>
                        <li class="">Event Name: <b>{{name}}</b></li>
                        <li class="">Current Round: <b>{{currentRound}}</b></li>
                        <li class="">Max Round: <b>{{maxRounds}}</b></li>
                    </ul>
                    <a href="/viewParticipants/{{_id}}" class="waves-effect waves-light btn white-text indigo darken-4">Go to
                        Promote</a>
                </div>
            </div>
        {{/each}}
    </div>
</div>
</div>