<div class="container">
    <div class="row">
        <div class="col l4">
            <img src="/images/genesis.svg" height="300" width="300"/>
        </div>
        <div class="col l5 s5 m5 offset-l3 offset-m3 offset-s3">
            <h3>Instructions:</h3>
            <ol>
                <li>Use credentials provided to you for login.</li>
                <li>Select participants carefully and verify twice before submitting.</li>
                <li>Choose Date,Time and venue of next round carefully and verify it before submitting.</li>
                <li>Click Submit to send sms to selected participants and promote them to next round.</li>
                <li>Check back after awhile for sms delivery status.</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col l4">
            Created by -
            <ul>
                <li>BVMites</li>
                <li>Github-
                    <a style="color: black;" href="https://github.com/ChintanAcharya/genesis17-messaging-app">Genesis17-messaging-app</a>
                </li>
            </ul>
        </div>
        <div class="col l5 s5 m5 offset-l3 offset-m3 offset-s3">
        For any queries or problems please contact <br>
           Vatsal Trivedi - 7600635053
        </div>
    </div>
</div>