<div class="section1">
    <div class="container indigo-text text-darken-4">
        <div class="row">
            <div class="card">
                <div class="row">
                    <div class="col l4 center push-l1">
                        <img class="responsive-img " src="/images/genesis.svg" style="margin-top: 20px"/>
                    </div>
                    <div class="col l7 push-l1">
                        <h3>Instructions:</h3>
                        <ol>
                            <li>Use credentials provided to you for login.</li>
                            <li>Select participants carefully and verify twice before submitting.</li>
                            <li>Choose Date,Time and venue of next round carefully and verify it before submitting.</li>
                            <li>Click Submit to send sms to selected participants and promote them to next round.</li>
                            <li>Check back after awhile for sms delivery status.</li>
                        </ol>
                    </div>
                </div>
                <div class="row center">
                    <div class="col l12">
                        Created by - BVMites
                    </div>
                    <div class="col l12">
                        For any queries or problems please contact : <b>7600635053</b>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>