<!DOCTYPE html>
<head>
    <link type="text/css" rel="stylesheet" href="/stylesheets/materialize/css/materialize.min.css">
    <link type="text/css" rel="stylesheet" href="/stylesheets/form.css">
    <script src="/javascripts/vendor/jquery-3.2.1.min.js"></script>
    <script src="/javascripts/vendor/materialize.min.js"></script>

</head>
<body>
    {{{body}}}
</body>
</html>
