<link type="text/css" rel="stylesheet" href="/stylesheets/login.css">

<form action="/login" method="post">
    <div class="container main">
        <div class="row">
            <div class="col l6 m8 s12 offset-l3 offset-m2">
                <div class="card crdtop crdborder">
                    <div class="card-title login-title">
                        <div class="center-align">
                            Login
                        </div>
                    </div>
                    {{#if error}}
                        <div class="card-content rdcolor center-align"> Invalid Username or Password</div>
                    {{/if}}
                    <div class="card-content">
                        <form>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="username" placeholder="" name="username" type="text" class="validate" data-length="10">
                                    <label for="username">Username</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="password" placeholder="" type="password" name="password" class="validate">
                                    <label for="password">Password</label>
                                </div>
                            </div>
                            <div class="row" align="center">
                                <button class="btn" id="btn-submit">Submit</button>
                            </div>
                        </form>
                    </div>

                </div>

            </div>
        </div>

    </div>

</form>