/*.modal-footer {*/
    /*text-align: center !important;*/
    /*padding: 0px !important;*/
/*}*/

/*.modal-content {*/
    /*position: fixed;*/
    /*text-align: center !important;*/
    /*padding-bottom: 0px !important;*/
    /*padding-top: 0px !important;*/
/*}*/

/*.padzero {*/
    /*padding: 0 !important;*/
    /*top: 2px;*/
    /*margin-bottom: 0px !important;*/

/*}*/

/*.btn-submit-red {*/
    /*margin-top:100px !important;*/
    /*background-color: red;*/
/*}*/

/*.modal {*/
    /*width: 50% !important;*/
    /*height: 90% !important;*/
/*}*/

.crdtop {
    margin-top: 10vh;
    margin-bottom: 10vh;
}

.fltlft {
    float: left;
}

.fltrgt {
    float: right;
}

.bgwhite {
    background-color: white;
}

.bgsmoke {
    background-color: whitesmoke;
}

.click-row {
    cursor: pointer;
}

.click-row td {
    padding: 5px;
}

.second-part {
    padding: 10px 24px !important;
}

.click-row td label {
    padding: 0 !important;
    position: relative;
    top: 2px;
}

.row .col.m6 {
    align-self: center !important;
}

.crdborder {
    border: 1px solid skyblue !important;
}

#select-all {
    margin-left: 1em;
}